body {
    padding: 0;
    background: #c5cfe1;
    margin: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: cornflowerblue;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

h1 {
    margin: 10px 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
